{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>High Travels</title>
</head>
<body class="w-full h-full">
    <h1 class="ml-8 mt-8 sm:ml-16 sm:mt-14 text-3xl sm:text-4xl font-bold">High Travels</h1> 

    <div class="mt-24 w-full flex justify-center items-center">
        <div class="w-[300px] sm:w-[500px] md:w-[600px] bg-black h-96 rounded-xl flex border-2 border-gray-300 p-2">
            <div class="w-1/2 bg-white h-full border-r-2">

            </div>
            <div class="w-1/2 bg-white h-full">
                
            </div>
        </div>
    </div>

    

    </div>
</body>
</html>