@tailwind base;

@tailwind components;

@tailwind utilities;

.background-img {
    background-image: url(../mapImg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

@layer components {
    .home-input-icon {
        @apply w-6 h-6 mr-4 fill-mapper;
    }

    .placeholder-text {
        @apply text-gray-400 font-bold text-xl tracking-wider;
    }

    .textfield-text {
        @apply font-semibold tracking-wide text-xl;
    }

    .trans {
        @apply transition duration-200;
    }
}

::-webkit-scrollbar-track {
    /* Change the background color */
    background-color: #4E8D53;
  }
  
  /* Select the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    /* Change the background color */
    background-color: #4E8D53;
  
    /* Change the size of the thumb */
    height: 30px;
    width: 30px;
  }
